<!-- Ini Halaman Footer -->

<div class="container-fluid">
  <p class="copyright">&copy; 2019 <a href="https://gitlab.com/serlinautami" target="_blank">Serlina utami</a>. All Rights Reserved.</p>
</div>

  <!-- Javascript -->
  <script src="../assets/klorofil/vendor/jquery/jquery.min.js"></script>
	<script src="../assets/klorofil/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../assets/klorofil/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../assets/klorofil/scripts/klorofil-common.js"></script>
