<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
  <div class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li><a href=""><i class="lnr lnr-home"></i> <span>Website ringan</span></a></li>
        <li><a href="/artikels/data_siswa/"><i class="lnr lnr-user"></i> <span>Data_siswa</span></a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- END LEFT SIDEBAR -->
