<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Memanggil File Header -->
    <%- include('../../templates/header.ejs') %>
</head>
<body>
  <div id="watch"></div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        function clock() {
          let now = new Date();
          let secs = ('0' + now.getSeconds()).slice(-2);
          let mins = ('0' + now.getMinutes()).slice(-2);
          let hr = now.getHours();
          let Time = hr + ":" + mins + ":" + secs;
          document.getElementById("watch").innerHTML = Time;
          requestAnimationFrame(clock);
        }

        requestAnimationFrame(clock);
    });
</script>
</body>
</html>